<div class="page-width">
  <h1 class="text-center py-4">Welcome to {{ shop.name }}</h1>
</div>
{% comment %} Other sections commented out {% endcomment %}
{% comment %} {% section 'hero-slider' %}
{% section 'featured-collection' %}
{% section 'product-grid' %}
{% section 'testimonials' %}
{% section 'blog-posts' %}
{% section 'newsletter' %} {% endcomment %}